<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
    <section id="plugin.service.ytlounge-cast">
        <category id="general" label="30000">
            <group id="1">
                <setting id="enable" type="boolean" label="30001">
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="screen_name" type="string" label="30002">
                    <default>Kodi</default>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="show_pairing_on_boot" type="boolean" label="30003">
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="enable_discovery" type="boolean" label="30030" help="30031">
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="dial_port" type="integer" label="30032" help="30033">
                    <default>8008</default>
                    <control type="edit" format="integer"/>
                </setting>
                <setting id="debug_logging" type="boolean" label="30004">
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <category id="playback" label="30010">
            <group id="1">
                <setting id="stream_selection" type="string" label="30015" help="30016">
                    <default>manual-osd</default>
                    <constraints>
                        <options>
                            <option label="30017">manual-osd</option>
                            <option label="30018">adaptive</option>
                            <option label="30019">ask-quality</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
                <setting id="max_resolution" type="string" label="30022" help="30023">
                    <default>auto</default>
                    <constraints>
                        <options>
                            <option label="30024">auto</option>
                            <option label="30025">4K</option>
                            <option label="30026">1440p</option>
                            <option label="30027">1080p</option>
                            <option label="30028">720p</option>
                            <option label="30029">480p</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
                <setting id="update_ytdlp_btn" type="action" label="30013" help="30014">
                    <level>0</level>
                    <data>RunScript(plugin.service.ytlounge-cast,update_ytdlp)</data>
                    <control type="button" format="action" data="RunScript(plugin.service.ytlounge-cast,update_ytdlp)"/>
                </setting>
                <setting id="ytdlp_path" type="string" label="30011">
                    <control type="edit" format="string"/>
                </setting>
                <setting id="custom_cookies_file" type="string" label="30012">
                    <control type="edit" format="string"/>
                </setting>
            </group>
        </category>
        <category id="advanced" label="30020">
            <group id="1">
                <setting id="session_data" type="string" label="30021">
                    <default>{}</default>
                    <control type="edit" format="string"/>
                </setting>
            </group>
        </category>
    </section>
</settings>
